@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css");

@font-face {
    font-family: 'Noto Sans JP body';
    src: url("../fonts/NotoSansJP-VariableFont_wght.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans JP h';
    src: url("../fonts/NotoSansJP-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
body {
    padding-top: 55px;
    padding-bottom: 50px;
    background-color: #feffce;
    font-family: 'Noto Sans JP body', sans-serif;
}
h1 {
    font-size: 42.5px;
    font-family: 'Noto Sans JP h';
}
h2 {
    padding-top: 20px;
    font-size: 25px;
    font-family: 'Noto Sans JP h';
}
h3 {
    font-size: 20px;
    font-family: 'Noto Sans JP h';
}
h4 {
    font-size: 18px;
    font-family: 'Noto Sans JP h';
}
h5 {
    font-size: 15px;
    font-family: 'Noto Sans JP h';
}
table {
    font-size: 15px;
}
#score1 {
    display: inline-block;
    padding-left: 20px;
    padding-top: 0px;
}
#score2 {
    display: inline-block;
    padding-left: 20px;
    padding-top: 0px;
}
#score3 {
    display: inline-block;
    padding-left: 20px;
    padding-top: 0px;
}
#score4 {
    display: inline-block;
    padding-left: 20px;
    padding-top: 0px;
}
#score5 {
    display: inline-block;
    padding-left: 20px;
    padding-top: 0px;
}
#score6 {
    display: inline-block;
    padding-left: 20px;
    padding-top: 0px;
}
.bar {
  display: flex;
  position: fixed;
  padding-left: 15%;
}
.emphasize {
    font-size: 140%;
}
.custom-container {
    padding-left: 10%;
    padding-right: 10%;
}
.custom-container2 {
    padding-left: 2%;
    padding-right: 2%
}
.starter-template {
    padding: 25px 75px;
    background-color: white;
}
.background {
    margin-bottom: 20px;
    position: relative;
    background-image: url('../images/title.webp');
    background-size: cover;
    background-position: center;
}
.backgroung-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 1;
}
.text-container {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 40px;
}
.text {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 100px;
    position: relative;
    z-index: 2;
}
.carousel {
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.program {
    border: 1px solid black;
    background-color: rgb(244, 250, 255);
}
.ubuntu {
    border: 1px solid black;
    background-color: rgb(241, 241, 241);
}
.dotubuntu {
    border: 1px dotted black;
    background-color: white;
}
.vscode {
    border: 1px solid black;
    background-color: white;
}
.picture {
    width: 100%;
    max-width: 135px;
    display: block;
    margin-left: auto;
    margin-right: 0;
}
.lms {
    padding-left: 30px;
    font-size: 25px;
    position: relative;
    z-index: 2;
}
.ver {
    padding-bottom: 10px;
    font-size: 17px
}
.reduction {
    max-width: 50%;
    padding-bottom: 3%;
    padding-left: 3%
}
.small-picture {
    max-width: 40%;
}
.small-picture2 {
    max-width: 80%;
}
.small-text {
        font-size: 1rem;
}
.enter-form {
    padding-bottom: 10px;
}
.top-space {
    padding-top: 13px;
}
.bottom-space {
    padding-bottom: 6px;
}
.left-space {
    padding-left: 13px;
}
.right-space {
    padding-right: 6px;
}
.same-row {
    display: flex;
}
.right-side {
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
}
.custom-select {
    width: 150px;
    font-size: 14px;
}

.custom-select option {
    
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80px;
    display: block;
}

/* タブレット */
@media (min-width: 813px) and (max-width: 1024px) {
    h1 {
        font-size: 32.5px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    table {
        font-size: 12.5px;
    }
    label {
        font-size: 12.5px;
    }
    input::placeholder {
        font-size: 0.8rem;
    }
    textarea::placeholder {
        font-size: 0.8rem;
    }
    .bar {
        padding-left: 7.5%;
    }
    .custom-container {
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
    .starter-template {
        padding: 25px 28px;
        background-color: white;
    }
    .lms {
        font-size: 20px;
    }
    .ver {
        padding-bottom: 10px;
        font-size: 15px
    }
    .enter-form {
        padding-bottom: 15px;
    }
    .small-text {
        font-size: 0.8rem;
    }
    .top-space {
        padding-top: 6px;
    }
    .left-space {
        padding-left: 9px;
    }
    .btn-xs {
        font-size: 0.7rem;
        padding: 0.2rem 0.4rem;
    }
}

/* スマホとタブレットの間 */
@media (min-width: 601px) and (max-width: 812px) {
    h1 {
        font-size: 32.5px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    h5 {
        font-size: 17px;
    }
    p {
        font-size: 14px;
    }
    table {
        font-size: 12.5px;
    }
    label {
        font-size: 12.5px;
    }
    input::placeholder {
        font-size: 0.8rem;
    }
    textarea::placeholder {
        font-size: 0.8rem;
    }
    .bar {
        padding-left: 5%;
    }
    .custom-container {
        padding-left: 0;
        padding-right: 0;
    }
    .starter-template {
        padding: 25px 28px;
        background-color: white;
    }
    .lms {
        font-size: 20px;
    }
    .ver {
        padding-bottom: 10px;
        font-size: 13px
    }
    .enter-form {
        padding-bottom: 15px;
    }
    .small-text {
        font-size: 0.8rem;
    }
    .top-space {
        padding-top: 6px;
    }
    .left-space {
        padding-left: 11px;
    }
    .btn-xs {
        font-size: 0.7rem;
        padding: 0.2rem 0.4rem;
    }
}

/* スマホ */
@media (max-width: 600px) {
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 15px;
    }
    h3 {
        font-size: 13px;
    }
    h5 {
        font-size: 8px;
    }
    p {
        font-size: 12px;
    }
    table {
        font-size: 10px;
    }
    label {
        font-size: 10px;
    }
    input::placeholder {
        font-size: 0.7rem;
    }
    textarea::placeholder {
        font-size: 0.7rem;
    }
    .bar {
        padding-left: 0;
    }
    .text-container {
        position: relative;
        display: inline-block;
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
    }
    .custom-container {
        padding-left: 0;
        padding-right: 0;
    }
    .starter-template {
        padding: 10px 15px;
    }
    .carousel {
        width: 100%;
        height: 250px;
        overflow: hidden;
    }
    .text {
        padding-left: 25px;
        padding-right: 100px;
    }
    .picture {
        width: 100%;
        max-width: 80px;
        display: block;
        margin-left: auto;
        margin-right: 0;
    }
    .lms {
        font-size: 15px;
        padding-left: 25px;
    }
    .ver {
        font-size: 11px;
    }
    .enter-form {
        padding-bottom: 0px;
    }
    .small-text {
        font-size: 0.7rem;
    }
    .top-space {
        padding-top: 5px;
    }
    .left-space {
        padding-left: 14px;
    }
    .btn-xs {
        font-size: .7rem;
        padding: 0.2rem 0.4rem;
    }
}